<!-- Contact Details -->

<div class="business_card">

  <i class="fa fa-comment-o talk_icon"></i>

  <div class="name_area">
    <div class="hi">Hi, I am</div>
    <div class="mug"></div>
    <div class="name">
      Chris Dillon
    </div>
  </div>

  <div class="contact_details">
    <div class="grid contact_details">
      <div class="col-1-2 detail_key">
        <i class="fa fa-twitter"></i>twitter
      </div>
      <div class="col-1-2 detail_value">
        <a href="https://twitter.com/squarism" />
      </div>

      <div class="col-1-2 detail_key">
        <i class="fa fa-github"></i>github
      </div>
      <div class="col-1-2 detail_value">
        <a href="https://github.com/squarism" />
      </div>
    </div>
  </div>

</div>


<!-- Project List -->
<div class="sidebar">
  <h3 class="section-header">
    Fav Projects
  </h3>


  <ul class="nav">
  {% for project in site.projects %}
    <li>
      <a href="{{project.url}}">{{ project.title }}</a>
     </li>
  {% endfor %}
  </ul>
</div>
