<h3 class="section-header">
  Projects
</h3>

<ul class="nav nav-stacked">
{% for project in site.projects %}
  <li>
    <a href="{{project.url}}">{{ project.title }}
      {% if project.description %}
       - <span class="muted">{{project.description}}</span> </a>
      {% else %}
        </a>
      {% endif %}
   </li>
{% endfor %}
</ul>


<div class="business_card">

  <div id="vertical_stripes">
    <div class="stripe" id="stripe-1"></div>
    <div class="stripe" id="stripe-2"></div>
    <div class="stripe" id="stripe-3"></div>
    <div class="stripe" id="stripe-4"></div>
    <div class="stripe" id="stripe-5"></div>
    <div class="stripe" id="stripe-6"></div>
    <div class="stripe" id="stripe-7"></div>
    <div class="stripe" id="stripe-8"></div>
  </div>

  <i class="fa fa-twitch talk_icon"></i>
  <i class="fa fa-square fa-inverse talk_icon talk_icon_bg"></i>

  <div class="name_area">
    <div class="hi text-muted">Hi, I am</div>
    <div class="mug"></div>
    <div class="name">
      Chris Dillon
    </div>
  </div>

  <div class="contact_details">
    <ul>
      <li>
        <div class="detail_key">
          <i class="fa fa-twitter"></i> twitter
        </div>
        <div class="detail_value">
          <a href="https://twitter.com/squarism">squarism</a>
        </div>
      </li>
      <li>
        <div class="detail_key">
          <i class="fa fa-github"></i> github
        </div>
        <div class="detail_value"><a href="https://github.com/squarism">squarism</a></div>
      </li>
    </ul>
  </div>

</div>
