<!-- Contact Details -->

<div class="business_card">
  <i class="fa fa-comment-o talk_icon"></i>
  <div class="name_area">
    <div class="hi">Hi, I am</div>
    <div class="mug"></div>
    <div class="name">
      Chris Dillon
    </div>
  </div>
  <div class="contact_details">
    <div class="grid contact_details">
      <div class="col-1-4 detail_key">
        <a href="https://hachyderm.io/@squarism">
          <i class="fa-solid fa-brands fa-mastodon"></i>mastodon
        </a>
      </div>
      <div class="col-1-4 detail_key">
        <a href="https://github.com/squarism">
          <i class="fa fa-brands fa-github"></i>github
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Project List -->
<div class="sidebar">
  <h3 class="section-header">
    Fav Projects
  </h3>

  <ul class="nav">
  {% for project in site.projects %}
    <li class="project-link">
      <a href="{{project.url}}">{{ project.title }}</a>
    </li>
  {% endfor %}
  </ul>
</div>

<!-- RSS block -->
<div class="rss">
  <div class="col-1-4">
    <h3 class="section-header">
      <a href="/feed.xml">
        RSS <i class="fa fa-rss"></i>
      </a>
    </h3>
  </div>
</div>
