// Add your own custom CSS here.
@import "pygments-tomorrow";

$rust: #846a51;

.post-content img,
.post-excerpt-home img,
.post-nav img {
  @extend .img-rounded;
}
.post-content table,
.post-excerpt-home table,
.post-nav table {
  @extend .table;
  @extend .table-bordered;
}


.sidebar {
  width: 100%;
}

.sidebar li {
  line-height: 0.5em;
  margin: 0px;
  padding: 0px;
  width: 150%;
}

.debug {
  border: 1px solid red;
}

.business_card {
  width: 300px;
  height: 480px;
  padding: 1em;
  margin: 0.5em;
  z-index: -5;
  border-left: 1px solid #eee;
}

.business_card .name_area {
  height: 28%;
  border-bottom: 1px solid #eee;
}

.business_card .hi {
  font-family: "Arial", sans;
  color: #aca68d;
  font-size: 11px;
  position: relative;
  left: 7.4em;
  top: -1.2em;
}

.name_area .mug {
  width: 80px;
  height: 80px;
  background: url('/images/mug.png');
}

.name_area .name {
  width: 160px;
  height: 20px;
  z-index: 3;
  font-size: 14px;
  font-weight: bold;
  color: #846a51;
}

.business_card .contact_details {
  height: 50%;
  width: 75%;
  padding-top: 0.5em;
  margin-right: 1em;
  margin-left: 2em;
}



.business_card ul {
  list-style-type: none;
}

.contact_details .detail_key {
  position: relative;
  float: left;
  left: -5.1em;
  width: 70%;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
  margin-bottom: 0.2em;   /* line spacing between contact detail ribbons */
  background: #0e191d;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.contact_details .detail_key i {
  padding-right: 1em;
}

.contact_details .detail_value {
  position: relative;
  left: -4.5em;
  width: 30%;
  margin-top: 0.4em;
  padding-bottom: 0.4em;
  z-index: 5;  /* putting this under 0 makes the links unclickable */
  font-size: 14px;
}

.business_card .gutter_bar {
  position: absolute;
  left: 2em;
  top: 72px;
  height: 849px;
  width: 24px;
}

.business_card .talk_icon {
  position: relative;
  float: right;
  left: -2.2em;
  top: -0.55em;
  z-index: 1;
  font-size: 64px;
  color: #ebe6d0;
}

/*
.business_card .talk_icon_bg {
  left: 25px;
  top: -7px;
  z-index: 0;
}
*/


.business_card #vertical_stripes {
  z-index: -1;
  height: 800%;
  top: -16px;
  left: -10px;
  float: left;
  position: relative;
}

.business_card #vertical_stripes .stripe {
  z-index: -2;
  float: left;
  width: 8px;
  height: 100%;
}

/* Good Enough Theme - 70% lighter
 * #304140 #2e5949 #759857 #89bc86 #2e3b3d #3b0902 #e17811 #db3012 #8a8c54 #0e191d #dc3112 #6e0604
 */
#stripe-1 { background: #1F282C; }
#stripe-2 { background: #424429; }
#stripe-3 { background: #5B5E3C; }
#stripe-4 { background: #787746; }
#stripe-5 { background: #B4AF91; }
#stripe-6 { background: #D8D4BC; }
#stripe-7 { background: #E3E3E3; }
#stripe-8 { background: #F5f5f5; }


[class*='col-'] {
  float: left;
}

.col-1-2 {
  width: 50%;
}

.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.post-excerpt-home a, .post-content a {
  color: #aaa;
  text-decoration: underline;
}
