

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.rspec-output {
  color: green;
  font-family: Courier, "Courier New";
  background: #efffef;
}

.failed {
  color: red;
}













